*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  background: #f8f9fa;
}

.page{
  padding: 40px;
  text-align: center;
}

.home-page h1{
  font-size: 40px;
  color: #222;
}